In [1]:
import pandas as pd
log = pd.read_csv('visit_log.csv', sep=';')
log['source_type'] = log.traffic_source
log.loc[((log.traffic_source == 'yandex') | (log.traffic_source == 'google')),\
        'source_type'] = 'organic'
log.loc[((log.traffic_source == 'paid') | (log.traffic_source == 'email')),\
        'source_type'] = 'other'
log.loc[((log.traffic_source == 'paid') & (log.region == 'Russia') | \
         (log.traffic_source == 'email') & (log.region == 'Russia')) , 'source_type'] = 'ad'
log['source_type'].value_counts(normalize=True)

direct     0.370314
organic    0.285511
ad         0.200127
other      0.144049
Name: source_type, dtype: float64

In [32]:
import pandas as pd
import re
n = pd.read_csv('URLs.txt')
n['News'] = n.loc[n.url.str.contains(r'/\d{8}-')]
n = n.loc[~ pd.isnull(n.News), :]
n.head()

,url,News
3,/politics/36188461-s-marta-zhizn-rossiyan-susc...,/politics/36188461-s-marta-zhizn-rossiyan-susc...
4,/world/36007585-tramp-pridumal-kak-reshit-ukra...,/world/36007585-tramp-pridumal-kak-reshit-ukra...
5,/science/36157853-nasa-sobiraet-ekstrennuyu-pr...,/science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6,/video/36001498-poyavilis-pervye-podrobnosti-g...,/video/36001498-poyavilis-pervye-podrobnosti-g...
7,/world/36007585-tramp-pridumal-kak-reshit-ukra...,/world/36007585-tramp-pridumal-kak-reshit-ukra...

In [42]:
import pandas as pd
rt = pd.read_csv('ratings.csv')
rt = rt.groupby('userId').filter(lambda x: len(x) > 100)
rt['date'] = pd.to_datetime(rt['timestamp'], unit = 's')
rt['difference'] = rt.groupby('userId')['date'].transform(lambda x: (x.max()-x.min()).days)
rt['difference'].mean()

1059.4150235441748

In [2]:
import pandas as pd
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

united1 = pd.merge(rzd, auto, on = 'client_id', how = 'outer')
united2 = pd.merge(united1, air, on = 'client_id', how = 'outer')
withaddress = pd.merge(united2, client_base, on ='client_id', how ='left')
withaddress.fillna('0', inplace = True)
without = withaddress.drop(['address'], axis=1)
print(withaddress)
len(withaddress) == len(client_base)

   client_id rzd_revenue auto_revenue air_revenue          address
0        111        1093            0           0  Комсомольская 4
1        112        2810            0           0   Энтузиастов 8а
2        113       10283        57483           0  Левобережная 1а
3        114        5774           83           0          Мира 14
4        115         981          912          81        ЗЖБИиДК 1
5        116           0         4834           4    Строителей 18
6        117           0           98          13  Панфиловская 33
7        118           0            0         173     Мастеркова 4

True